

<table mat-table [dataSource]="personas" class="mat-elevation-z8 demo-table" >
    
    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> 1 </td>
      </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- LastName Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Apellidos</th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad</th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <!--  Felicidad Column -->
    <ng-container matColumnDef="casado">
      <th mat-header-cell *matHeaderCellDef> Casado</th>
      <td mat-cell *matCellDef="let element"> {{element.married}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div  class="container">
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          CLCIK PARA ANALIZAR LOS OBSERVERS
        </mat-panel-title>
        <mat-panel-description>
          Opciones de Filtrado
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p><button mat-raised-button (click)="filtrar1()" color="primary">
        CLICK PARA VER LOS MENORES DE 32
      </button></p>
      <p> <button mat-raised-button (click)="filtrar2()" color="primary">
        CLICK PARA VER LOS MENORES DE 40
      </button></p>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div>
  {{source | async}}
</div>